@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    padding: 25px;
    width: 550px;
    border-radius: 15px;
}

.header-todo {
    display: flex;
    align-items: center;
    margin-bottom : 30px;
    padding-left: 5px;
    justify-content: center;
}

.todo-body {
    display: flex;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.todo-body input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px 0;
    font-size: 20px;
}

.todo-body img {
    cursor: pointer;
    border-radius: 40px;
    height: 55px;
    width: 55px;
    padding: 15px;
    background: lightblue;
}

ul li {
    list-style: none;
    font-size: 18px;
    padding: 12px 20px;
    background: #edeef0;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
}

h4 {
    text-align: center;
    marign-bottom: 40px;
    color : red;
}

.todo-controls {
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 3px;
    margin-left: 10px;
    transition: 0.2s;
}

.todo-controls:hover {
    transform: scale(1.1);
}

.task-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 30px;
    accent-color: lightblue;
}
.inline-edit-input {
    flex: 1;
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    font-family: inherit;
    outline: none;
}

ul li {
    min-height: 60px;
}